body{
  margin: 0px;
  box-sizing: border-box;
  list-style-type:none;
  font-family: "Roboto";
}

.header-section {
  height:50px;
  width:100%;
  text-align: center;
  justify-content: center;
  background-color: #1f1f1f;
  color:#04AA6D;
}
span {
  color:greenyellow;
  font-size: large;
}

.button-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.button-style{
  font-size: 16px;
  margin:8px;
  padding: 10px;
  border:2px solid #04AA6D;
  border-radius: 5px;
  color: #04AA6D;
  font-weight: 600;
  cursor: pointer;
}

.button-style:hover{
  background-color: #04AA6D;
  color:#ffffff;
}

.slide-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  width:auto;
  border:none;
  font-size: 18px;
  box-shadow:rgba(0, 0, 0, 0.35) 0px 5px 15px;
}